        html, body{
		height:100%;
		margin:auto;
		}
		#blanket {
			position: fixed;
			font-family: Arial, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4);
			z-index:1; 
		}
		#loader{
			width: 20%;
			position: relative;
			margin: 20% auto;
			padding: 5px 20px 13px 20px;
			border-radius: 10px;
			z-index:2;
			background: #fff;
			text-align:center;
		}
		.inithide{
		display:none;	
		}		
		#connmess{
		visibility:hidden;
		}
		#gsize{
		margin-right:1vh;
		}
		#headline{
			font-size:6em;
			text-align:center;
			padding:1rem;
			font-family: Stencil, Rockwell, "Courier Bold", Courier, Georgia, Times;
		}
		#players{
			font-size:2vw;
			padding:1rem;
			text-align:center;
		}
		.plyr{
		border-radius: 25rem;
		border: .1vw solid black;
		padding: 1rem;
		margin:1rem;
		width:10vw;
		display:inline-block
		}
		.on{
		background-color:LightGreen;
		color:white;
		}
		.off{
		background-color:white;
		color:black;
		}	
		#status{
			text-align:center;
			margin:1rem;
			font-size:1.5em;
			visibility:hidden;
		}		
        .grid-container {
            display: grid;
            background-color: black;
            padding: 10px;
			margin: auto; 
            vertical-align: center; 
        }
        .grid-item,
        .coord {
            background-color: #2196F3;
            border: 1px solid rgba(0, 0, 0, 0.8);
            text-align: center;
			vertical-align: center;
			display:grid;
        }
        #wrapper {
            display: grid;
            grid-template-columns: 40% 40% 20%;
        }
		#ship {
            position: absolute;
            height: 48px;
            width: 147px;
            outline: 3px dashed white;
            opacity: 0.4;
            background-color: gray;
            top: 10px;
            left: 26px;
            pointer-events: none;
			display: none;
        }
		#ships {
            pointer-events: none;
        }
		.inithide{
		display:none;	
		}
		#chat{
		margin-left:5px;
		height:100%;
		}
		#cbox{
		border: 1px solid;
		height:80%;
		overflow-y: auto;
		}
		#msgbtn{
		background-color:blue;
		color:white;
		cursor:pointer;
		font-size:1vw;
		}
		#btchat {
            display: grid;
            grid-template-columns: 79% 20%;
			grid-template-rows:3vw;
			grid-column-gap:1%;
        }
		#cheatwrap{
		visibility:hidden;
		}
		hr{
		width:50%;
		text-align:left;
		margin-left:0;
		}
		.plbutton{
		margin:1vh;
		}
		.dot{
		height:60%;
		width:60%;
	    margin:auto;
		border-radius:50%;
		}
